$main-bg-color: #dbe5e7;
$caption-color: #4c5155;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    background-color: #f5f5f5;
    padding: 0 20px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        max-width: 900px;
    }

    &__left-block {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0 30px;


    }

    &__right-block {
        display: flex;
        align-items: center;
    }

    &__contact-me {
        height: 38px;
        line-height: 38px;
        border: 0;
        color: white;
        font-size: 1.2rem;
        background-color: #12c73a;
        font-weight: bold;
        border-radius: 5px;
        padding: 0 10px;

        i {
            margin-right: 10px;
        }

        a {
            text-decoration: none;
            color: white;
        }

        a:link {
            color: white;
        }
    }

    &__contact-me:hover {
        background-color: #00b520;
        cursor: pointer;
    }
}

//.left-column__about-me p {
//    margin: 0;
//}

@media (max-width: 720px) {
    .header__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .header {
        padding: 30px 20px;
    }
    .header__left-block {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .left-block__foto {
        margin-bottom: 20px;
    }
}

.left-block {
    &__foto {
        border-radius: 50%;
    }

    &__caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
}

.caption {
    &__name {
        font-size: 1.6rem;
        color: $caption-color;
        font-weight: bold;
        margin-top: 10px;
    }

    &__proff {
        font-size: 1.2rem;
        color: #b3b5bc;
        margin-top: 10px;
    }
}

.main {
    background-color: $main-bg-color;
    padding: 60px 15px;
    display: flex;
    justify-content: center;

    &__wrapper {
        display: flex;
        flex: 1 1 900px;
        max-width: 900px;
        justify-content: center;
    }
}

.left-column {
    display: flex;
    flex: 1 1 650px;
    flex-direction: column;
    max-width: 650px;
    margin-right: 20px;
}
.right-column {
    display: flex;
    flex: 1 1 250px;
    flex-direction: column;
    max-width: 250px;

}

@media (max-width: 992px) {
    .main__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .left-column {
        width: 100%;
        max-width: 700px;
        margin-right: 0;
    }
    .right-column {
        width: 100%;
        max-width: 700px;
    }
}

@media (max-width: 576px) {
    .main {
        padding: 20px 5px;
    }
}

.block {
    width: 100%;
    background: white;
    padding: 25px 20px;
    margin: 0 0 20px 0;
    font-weight: 300;
    line-height: 1.3rem;
}

.block-caption {
    display: block;
    font-size: 1.4rem;
    color: $caption-color;
    font-weight: bold;
    margin-bottom: 20px;
}

.right-column__contacts div {
    margin-bottom: 15px;
}
.list-icons {
    width: 15px;
    height: 15px;
    opacity: 0.5;
    position: absolute;
    left: 0;
}

.list {
    list-style-type: none;
    padding-left: 24px;
    position: relative;

    li {
        margin-bottom: 10px;
    }
}

.external-link {
    text-decoration: none;
    color: #00ad00;
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 0.9;
}
.external-link:hover {
    opacity: 1;
    color: green;
}

























